.checkbox-card{
    display:flex;
    align-items:center;
    gap:10px;

    background:white;
    border:1px solid #e8ecef;
    border-radius:10px;

    height:46px;
    padding:0 12px;

    transition:.2s;
    cursor:pointer;
}

.checkbox-card:hover{
    border-color:#2CB5A5;
}

.checkbox-card span{
    font-size:14px;
    color:#555;
}