.CancleButton{
    background-color: red!important;
    width: 200px!important;
    color: white!important;
}
.closeButton{
    width: 200px!important;
    color: white!important;
    background-color: gray!important;
}
.Dialog .MuiPaper-root {
    width: 500px;
    min-height: 150px;
}