.project-details-container {
  max-width: 1400px;
  margin: auto;
  padding: 40px;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #475569;
  margin-bottom: 30px;
}
.project-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.project-title {
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 20px;
}

.project-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #475569;
  font-size: 15px;
}

.section-title {
  margin-bottom: 25px;
  color: #475569;
  font-size: 22px;
  font-weight: 700;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
}

.image-card {
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
}

.image-card:hover {
  transform: translateY(-5px);
}

.image-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.image-name {
  padding: 15px;
  color: #475569;
  font-size: 14px;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
.edit-project-btn{
  background: white;
  color: #2A9D8F;

 border: 1px solid #7bc8bf;
box-shadow: 0 2px 8px rgba(42,157,143,.15);
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
}

.edit-project-btn:hover{
  background: #238579;
  color: white;
}