.DadOfEveryThingInFreelancerContracts{
    width: 100%;
    padding: 50px;
}
.MyContractH1{
    color: black;
    margin-left: 30px;
}
.SpanUnderH1{
     margin-left: 30px;
}

.contract-card{
width: 100% !important;
}
.ViewButton{
    height: 30px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(13, 131, 88);
    transition: all 0.3s ease-in;
    font-weight: bold;
    color: rgb(13, 131, 88);
}
.ViewButton:hover{
     background-color: #09664d;
     color:white;
     
}