* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contracts-page {
  min-height: 80vh;
   width: 100%;
  background: #f7f9f9;
  padding: 25px;
  font-family: sans-serif;
    padding-top: 0;
}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.tab-btn {
  background: white;
  border: 1px solid #dfe8e7;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 13px;
  color: #6f8b93;
}

.tab-btn.active {
  border-color: #18b6a3;
  color: #18b6a3;
}

.contracts-table {
  background: white;
  border: 1px solid #e7eeee;
  border-radius: 20px;
  overflow: auto;
    max-width: 1500px;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: 2.5fr 1.8fr 1.3fr 1fr 1.4fr 0.8fr;
  align-items: center;
 padding: 16px 24px;
}

.table-header {
  color: #6f8b93;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid #eef3f2;
}

.table-row {
  border-bottom: 1px solid #eef3f2;
}

.table-row:last-child {
  border-bottom: none;
}

.contract-name {
  font-size: 15px;
  font-weight: 500;
  color: #08263b;
}

.freelancer {
  display: flex;
  align-items: center;
  gap: 10px;
    font-size: 13px;
}

.avatarr {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #37c08f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.type-badge {
  background: #edf9f8;
  color: #27a89d;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 13px;
}

.value {
  font-size: 13px;
  font-weight: 700;
}

.status {
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
}

.status.active {
  background: #e9faf1;
  color: #38b975;
}

.status.pending {
  background: #fff4e7;
  color: #f4a037;
}

.status.completed {
  background: #e8faf4;
  color: #2dbd87;
}

.status.cancelled {
  background: #ffecef;
  color: #f04f62;
}

.view-btn {
  border: none;
  background: transparent;
  color: #16a99f;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
}